.header__logo{
    height: 33px;
    width: 142px;
    object-fit: contain;
    transition: 0.5s;
}

.header__logo:hover{
    opacity: 0.6;
}

@media screen and (max-width: 1279px){
    .header__logo{
        height: 30px;
        width: 134px;
        position: relative;
    }
}

@media screen and (max-width: 1023px){
    .header__logo{
        height: 28px;
        width: 124px;
        left: 5px;
    }
}

@media screen and (max-width: 767px){
    .header__logo{
        height: 26px;
        width: 114px;
        left: 15px;
    }
}

@media screen and (max-width: 424px){
    .header__logo{
        height: 24px;
        width: 104px;
        left: 27px;
    }
}