.button{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    transition: 0.5s;
    padding: 0;
}

.button:hover{
    cursor: pointer;
}

.button:active,
.button:focus
{
    outline: none;
}