.popup__title{
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    margin: 0;
    margin-top: 34px;
    margin-bottom: 45px;
    width: calc(100% - 2*36px);
}

@media screen and (max-width: 1279px){
    .popup__title{
        font-size: 23px;
        line-height: 27px;
        margin-top: 31px;
        width: calc(100% - 2*32px);
    }
}

@media screen and (max-width: 1023px){
    .popup__title{
        font-size: 22px;
        line-height: 25px;
        margin-top: 29px;
        margin-bottom: 45px;
        width: calc(100% - 2*28px);
    }
}

@media screen and (max-width: 767px){
    .popup__title{
        font-size: 20px;
        line-height: 23px;
        margin-top: 27px;
        margin-bottom: 55px;
        width: calc(100% - 2*24px);
    }
}

@media screen and (max-width: 424px){
    .popup__title{
        font-size: 18px;
        line-height: 22px;
        margin-top: 25px;
        margin-bottom: 70px;
        width: calc(100% - 2*22px);
    }
}