.header__link{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.5s;
}


.header__link:hover{
    cursor: pointer;
    opacity: 0.6;
}