.button_type_change-avatar{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    background-image: url("./../../../images/edit-pencil.svg");
    background-size: 26px 26px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    z-index: 10;
    opacity: 0;
    transition: all .3s ease-in-out;
    border-radius: 50%;
}

@media screen and (max-width: 1279px){
    .button_type_change-avatar{
        background-size: 23px 23px;
    }
}

@media screen and (max-width: 1023px){
    .button_type_change-avatar{
        background-size: 21px 21px;
    }
}

@media screen and (max-width: 767px){
    .button_type_change-avatar{
        background-size: 15px 15px;
    }
}

@media screen and (max-width: 424px){
    .button_type_change-avatar{
        background-size: 13px 13px;
    }
}