.header{
    margin-top: 45px;
    height: 74px;
    border-bottom: 1px solid  rgba(84, 84, 84, 0.7);
    box-sizing: border-box;
    font-family: 'Inter', Arial, sans-serif;
}

@media screen and (max-width: 1279px){
    .header{
        margin-top: 40px;
        height: 70px;
    }
}

@media screen and (max-width: 1023px){
    .header{
        margin-top: 35px;
        height: 66px;
    }
}

@media screen and (max-width: 767px){
    .header{
        margin-top: 32px;
        height: 60px;
    }
}

@media screen and (max-width: 424px){
    .header{
        margin-top: 28px;
        height: 56px;
    }
}